

// Primary Colors ---
$mainBackground: #090B1A;
$cardBackground:#1B1938;
$accentColor: hsl(277, 64%, 61%);  // #AA5CDB;

//------

// Netural Colors ---
$mainText: white;
$mainTransparent:hsla(0, 0%, 100%, 0.75);
$statsHeading:hsla(0, 0%, 100%, 0.6);
//------


