

// Primary Colors ---
$mainBackground: #090B1A;
$cardBackground:#1B1938;
$accentColor: #5b0292a9;

//------

// Netural Colors ---
$mainText: white;
$mainTransparent:hsla(0, 0%, 100%, 0.75);
$statsHeading:hsla(0, 0%, 100%, 0.6);
//------


//Bold color 
.textColor{
    color: #5b0292a9;
}


