


// Setting the format of the body for the card so it is centered
body{
    padding: 90px 16px 90px 16px; 
    background-color:$mainBackground;
    background-image: url("img/image-header-mobile.jpg");

    @media screen and (min-width: 1024px){
        padding: 165px 165px 175px 165px;
        
    }
}
//--------------
main{
    

    @media screen and (min-width: 1024px){
        display: grid;        
        grid-template-columns: 1fr 1fr;
        
    }
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    @media screen and (min-width:1024px){
        flex-direction: row;
        //justify-content: flex-start;
        
    }

}


header{
    text-align: center;
    
}
h1{
    display: flex;
    flex-direction: column;
    text-align: center;

}
p {

    color: $statsHeading;
    text-align: center;
    line-height: 25px;

    @media screen and (max-width:1024px){
        padding-bottom: 0px;
    }
}
footer {
    display: flex;    
    text-align: left;
    padding-left: 0px;

    @media screen and (max-width: 1024px){
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        


        

    }
}



// Left side of card


.heroText{  
    padding:40px 35px;
    margin-top: 0px;
    margin-bottom: 80px;
    background-color: $cardBackground;
    color: $mainText;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    
    
    


    @media screen and (min-width:1024px) {
        margin-top: 80px;
        margin-bottom: 65px;
        border-radius: 5px 0px 0px 5px;
        padding: 80px 120px 40px 45px; 
           

        
    }

    
}
.heroText > header > span{

    color: hsl(277, 64%, 61%);
    opacity: 0.7;
    
}
//----------------



// Right side of card
.heroImage{
    position: relative;
    margin-top: 85px;
    margin-bottom: 0px;


        @media screen and (min-width: 1024px){
            margin-top: 80px;
            margin-bottom: 65px;

        }
    
    
        
    img{
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
        

        @media screen and (min-width: 1024px){
            border-radius: 0px 5px 5px 0px;
            width:max-content;
            
            
            
            
        }
        
    }
      
}
// Color over the picture -------


.colorOverlay{
    width: 100%;
    height: 100%;
    background: $accentColor;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    
    
}
//-------------------------------


//----------------

//Test section


.info {
    
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    flex-wrap:wrap;    
    padding-right: 60px;
    
    
    

    @media screen and (max-width: 1024px) {
        
        margin-top: 0px;
        margin-bottom: 35px;
        margin-left: 70px ;
        padding-bottom: 0px;
        justify-content: center;
        

    }
   
  }
  .info > h1 {

    text-align: center;
    margin-bottom: 10px;    
    font-size: 20px ;
    font-weight: 700;

  }
  .info > p {
      text-align: center;
      margin-top: 0px;
      

  }
  
  
  

  
  
  
  